body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(246, 232, 234);
  color: rgb(34, 24, 28);
}

header {
  position:relative;
  background-color: rgb(186, 31, 51);
  color: rgb(246, 232, 234);
  padding: 30px;
  text-align: center;
}

h1 {
  margin: 2%;
}

nav {
  margin-top: 20px;
  display: flex;
  justify-content: center;

}

nav a {
  color: rgb(246, 232, 234);
  text-decoration: none;
  margin-right: 10px;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: rgb(34, 24, 28);
}

section {
  padding: 20px;
  text-align: center;
}

section h2 {
  color: rgb(241, 48, 48);
  margin-top: 0;
  margin-bottom: 20px;
}

section ul {
  list-style: none;
  padding: 0;
}

section li {
  margin-bottom: 10px;
}

section a {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(241, 48, 48);
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 30px;
  transition: background-color 0.3s;
}

section a:hover {
  background-color: rgb(90, 0, 1);
}

footer {
  background-color: rgb(186, 31, 51);
  color: #FFFFFF;
  padding: 20px;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.intro-text {
  text-align: center;
  margin-bottom: 40px;
}

.intro-text h2 {
  font-size: 32px;
}

/*menu lateral */

